.navbar_button {
    background-color: #C6011F;
    color: #ffffff;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
  }

  .login_input {
    width: 100%;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #f3f4f6;
    --tw-placeholder-opacity: 1;
    color: rgb(190, 91, 10, var(--tw-placeholder-opacity));
    border-width: 1px;
    border-color: #f3f4f6;
    font-size: 14px;
    line-height: 20px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: #9ca3af;
    --tw-bg-opacity: 1;
    margin-bottom: 20px;
  }

  .login_button {
    background-color: #C6011F;
    color: #ffffff;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    letter-spacing: 0.025em;
    border-radius: 8px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    justify-content: center;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  
  .login_button:hover
  {
    background-color: #000000 ;  
  }


  .create_event_img
  {
    /* background-repeat: no-repeat; */
    object-fit: fill;
  
    background-size: 100% 900px;
  }
  
  .create_event_main_div
  {
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: 50%;
    justify-self: center;
    align-self: center;
    color: #eaeffa;
    font-size: larger;
    font-weight: 500;
    /* background-color: white; */
    /* mix-blend-mode:luminosity; */
  }
  /* .adopt_signup_img
  {
    
  } */
  
  .create_event_head
  {
    /* margin-left: auto;
    margin-right: auto;
    display: block;
    justify-self: center;
    align-self: center; */
    text-align: center;
    background-color: #eefcff;
    color:#000000;
    
  }
  
  .create_event_button
  {margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    height: 98%;
    justify-self: center;
    align-self: center;
    /* opacity: 0; */
  }
  
  .cards {
    flex-direction: row;
  }




  .footer {

    background-color: #000000;
    color: rgb(255, 255, 255);
    clear: both;
  }
  .footer_links {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }
  
  .footer_links:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
  }
  .footer_icons {
    font-size: 25px;
  }
  